
nav{
  width: 100vw;
  height: 3rem;
  background: lightgray;;
}

header{
  width: 100vw;
  height: 25vh;
  border: solid 1px gray;
}

.container{
  padding: 1rem;
}

h1{
  color: #8dc740;
  font-family: 'Impact', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  margin-top: 0.8rem;

}

h4{
  color:#3CB000;
}

h4, p{
  font-family: Helvetica, sans-serif;
}


.instructions h4 {
	font-size: 22px;
    margin: 20px 0;
}

.instructions p {
	font-size: 16px;
  margin-bottom: 20px;
}

.title,
.instructions {
	margin-left: 20px;
}

.title{
  border-bottom: 2px solid #8dc740;;
}

.title >  .title-texbox{
  width: 60vw;
}

.instructions{
  margin-top: 0.5rem;
}

.map-grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.map-grid > .box img{
  margin: 0.1rem;
  width: 40vw;
  align-self: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .map-grid {
      max-width: 65vw;
    }
    .map-grid > .box img{
      width: 30vw;
    }
    .modal-content{
      max-width: 33.33rem;
    }

}
.email-footer{
  padding-bottom: 1rem;
}


/* email sign up modal */
.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    border-radius: 0.35rem;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 2em;
    border: 1px solid #888;
    width: 80%; 
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 3rem;
    right: 1rem;
    position: absolute;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


h5{
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

#no-thanks{
  color:#3BB000;
  margin-top: 3rem;
}


/* Emma Form Styling */


.emma-form-row{
  font-family: Helvetica;
  height: 2rem;
  font-size: 1rem;
}

.emma-form-label, .emma-form-input{
  padding: 0.2rem;
}

.emma-form-label{
  text-transform: uppercase;
  font-size: 0.8rem;
  display: block !important;
  width: 100% !important;
  margin: 1rem 0 0.3rem 0 !important;
}

.emma-form-input{
    height: 1.5rem;
    border-radius: 0.2rem;
}

#emma-form input[type="submit"]{
    width: 100%;
    background-color: #D06E18 !important; 
    border-radius: 0.4rem;
    height: 2rem;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
}

#emma-form input[type="submit"]:hover{
  background-color: #b76909;
}

.emma-status{
  width: auto !important;
}

